@font-face {
    font-family: Inter;
    src: url(material/Inter.ttf);
}

body {
    font-family: Inter;
    font-size: 14px;
    margin: 0px;
    color: #050505;
}

header {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    gap: 15px;
    padding: 10px 0px 10px 0px;
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    background-color: white;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    max-width: 120px;
}

#meny,
#login-meny {
    display: flex;
    gap: 15px;
    align-items: center;
}

#login-border {
    border-right: 1px solid #e5e5e5;
}

#request {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #050505;
    padding: 8px;
}

.lank-hover a:hover {
    background-color: #f4f4f4;
    padding: 8px;
    border-radius: 5px;
}

.barky-knapp {
    color: #f4f4f4;
    background-color: #050505;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.barky-knapp:hover {
    background-color: #353535 !important;
}

main {
    max-width: 1000px;
    margin: 150px auto auto auto;
}

#sektion-1 {
    display: flex;
    gap: 20px;
}

h1 {
    font-size: 53px;
    margin: 0px;
}

.ingress {
    padding: 15px 0pc 23px 0px;
    color: #999999;
    font-size: 18px;
    font-weight: 320;
}

.team-img {
    object-fit: contain;
    width: 100%;
}

#sektion-2 {
    margin-top: 80px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.loggor {
    max-width: 100px;
}

.sektion-3-4-5 {
    margin-top: 80px;
}

h2 {
    color: #050505;
    font-size: 36px;
}

.usp-container {
    width: 45%;
}

.usp-img {
    object-fit: contain;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 50px;
}

.p-usp {
    color: #999999;
    font-size: 15px;
    margin-bottom: 0px;
}

.citat {
    font-size: 36px;
    color: #999999;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}

.referens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.referens-bild {
    max-width: 50px;
}

.referens-namn {
    margin-bottom: 0px;
    font-weight: 550;
}

.referens-roll {
    font-size: 13.5px;
    margin-top: 2px;
    color: #999999;
    font-weight: 320;
}

#citat-2 {
    text-align: left;
}

#sista-usp {
    padding-bottom: 80px;
    border-bottom: 1px solid #e5e5e5;
}

#sektion-6 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.prenumeration-intro {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.prenumeration-ingress {
    margin-top: 0px;
    margin-bottom: 25px;
    color: #999999;
    font-size: 15px;
}

.prenumeration-rubrik {
    margin-bottom: 10px;
}

#feature-container {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: #666666;
}

#features-black {
    color: #050505;
}

.check-img {
    max-width: 15px;
}

#feature-container div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

#sista-featuren {
    border: none !important;
}

#sektion-7 {
    padding-top: 50px;
    border-top: 1px solid #e5e5e5;
}

.text-center {
    text-align: center;
}

h3 {
    color: #050505;
    font-size: 24px;
}

#tre-kolumn-container {
    display: flex;
    text-align: center;
}

.learn-more {
    text-decoration: underline;
    padding: 0px;
}

.learn-more:hover {
    color: #087fe7;
}

#sektion-8 {
    margin-top: 120px;
}

.badges-wrapper {
    display: flex;
    gap: 80px;
}

#badges-img,
#badges-text {
    flex: 1;
}

.procent-wrapper {
    padding-top: 50px;
    text-align: center;
    display: flex;
}

.procent-box {
    flex: 1;
    border-right: 1px solid #e5e5e5;
    color: #999999;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
}

#sista-procent-boxen,
#design-boxen {
    border-right: none;
}

.procent-rubrik {
    color: #666666;
    font-size: 45px;
    margin: 0px;
}

footer {
    border-top: 1px solid #e5e5e5;
    margin: 0px 10px 0px 10px;
}

#footer-container {
    max-width: 1200px;
    margin: 80px auto 80px auto;
}

#barky-footer-logo {
    max-width: 150px;
}

.loggor-footer {
    max-width: 20px;
    margin: 25px 10px auto auto;
}